/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*COMMON*/
body {
    font-family: "Roboto";
}

img {
    width: 100%;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

#button {
    font-size: 11px;
    color: white;
    text-decoration: none;
    border: 1px solid #fe775a;
    background-color: #fe775a;
    padding: 7px 8px;
    border-radius: 5px
}

/*HEADER*/
.nav-top {
    background-color: #f4f9fd;
    border-bottom: 1px solid #4a606e;
}

.wrap{
    width: 70%;
    margin: auto;
}

.col {
    float: left;
}

.menu-left {
    width: 50%;
    text-align: left;
}

.menu-right {
    width: 50%;
    text-align: right;
}

.menu {
    list-style-type: none;
    padding: 20px 0px;
}

.menu li {
    display: inline-block;
}

.menu li a {
    font-size: 13px;
    text-decoration: none;
    color: #33475b;
    margin-right: 10px;
}

.fa-search {
    color: #12aac1;
}

.menu .login {
    border: 1px solid #fe775a;
    background-color: white;
    color: #fe775a;
    padding: 7px 8px;
    border-radius: 5px;
    font-size: 11px;
}

.logo img {
    width: 80px;
    padding-top: 18px;
}

.nav-bottom .fa-chevron-down {
    padding-left: 7px;
}

/*banner*/
.banner {
    height: 540px;
    background-image: url(../img/jumbotron.png);
    background-size: cover;
}

.banner .img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

h1 {
    margin-left: 0;
    width: 50%;
    font-size: 40px;
    color: #33475b;
}

.teaser {
    padding: 50px 0px;
}

.text {
    color: #33475b;
    width: 50%;
    font-size: 13px;
    padding: 28px 0px;
}

.teaser #button {
    padding: 15px 30px;
    display: inline-block;
}

.subtext {
    color: #33475b;
    width: 50%;
    font-size: 11px;
    padding: 28px 0px;
}

/*section light green*/
.light-green {
    height: 65px;
    background-color: #afebe4;
    border-top: 2px solid #3b5062;
    border-bottom: 2px solid #3b5062;
}

/*MAIN*/
.central-section {
    background-color: #f4f9fd;
    
}

.illustration {
    width: auto;
    height: 200px;
    padding: 40px 0px 5px 0px;
    margin: 0 auto;
}

.illustration img {
    height: 100%;
    object-fit: contain;
}

h2 {
    color: #33475b;
    text-align: center;
}

.text-subsection {
    text-align: center;
}

.text-subsection .text {
    width: 100%;
    padding: 25px 80px 
}