/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*COMMON*/
body {
    font-family: "Roboto";
}

img {
    width: 100%;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

#button {
    font-size: 11px;
    color: white;
    text-decoration: none;
    border: 1px solid #fe775a;
    background-color: #fe775a;
    padding: 7px 8px;
    border-radius: 5px
}

#button-learn {
    text-align: center;
    padding: 20px 38px;
    display: inline-block;
    margin-top: 20px;
    font-size: 11px;
    color: white;
    text-decoration: none;
    border: 1px solid #fe775a;
    background-color: #fe775a;
    border-radius: 5px
}

h1, h2, h3, h4 {
    color: #33475b;
}

h1 {
    margin-left: 0;
    width: 50%;
    font-size: 40px;
}

h2 {
    text-align: center;
}

.fa-check-circle {
    color: #fe775a;
    padding-right: 8px;
}

/*HEADER*/
.nav-top {
    background-color: #f4f9fd;
    border-bottom: 1px solid #4a606e;
}

.wrap{
    width: 70%;
    margin: auto;
}

.wrap2{
    width: 80%;
    margin: auto;
}

.col {
    float: left;
}

.menu-left {
    width: 50%;
    text-align: left;
}

.menu-right {
    width: 50%;
    text-align: right;
}

.menu {
    list-style-type: none;
    padding: 20px 0px;
}

.menu li {
    display: inline-block;
}

.menu li a {
    font-size: 13px;
    text-decoration: none;
    color: #33475b;
    margin-right: 10px;
}

.fa-search {
    color: #12aac1;
}

.menu .login {
    border: 1px solid #fe775a;
    background-color: white;
    color: #fe775a;
    padding: 7px 8px;
    border-radius: 5px;
    font-size: 11px;
}

.logo img {
    width: 80px;
    padding-top: 18px;
}

.nav-bottom .fa-chevron-down {
    padding-left: 7px;
}

.list {
    list-style-type: none;
    text-decoration: none;
}

.list li {
    display: inline-block;
    font-size: 13px;
    text-decoration: none;
    color: #33475b;
    padding: 25px 30px 0px 0px;
}

/*banner*/
.banner {
    height: 540px;
    background-image: url(../img/jumbotron.png);
    background-size: cover;
}

.banner .img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.teaser {
    padding: 50px 0px;
}

.text {
    color: #33475b;
    width: 50%;
    font-size: 13px;
    padding: 28px 0px;
}

.teaser #button {
    padding: 15px 30px;
    display: inline-block;
}

.subtext {
    color: #33475b;
    width: 50%;
    font-size: 11px;
    padding: 28px 0px;
}

/*section light green*/
.light-green {
    height: 65px;
    background-color: #afebe4;
    border-top: 2px solid #3b5062;
    border-bottom: 2px solid #3b5062;
}

/*MAIN*/
.central-section {
    background-color: #f4f9fd;
    
}

.illustration {
    width: auto;
    height: 180px;
    padding: 40px 0px 5px 0px;
    margin: 0 auto;
}

.illustration img {
    height: 100%;
    object-fit: contain;
}

.text-subsection {
    text-align: center;
}

.text-subsection .text {
    width: 100%;
    padding: 25px 0px 45px 0px;
}


/*second subsection*/
.second-subsection .wrap {
    background-color: white;
    border-radius: 5px;
}

.second-subsection .menu-left {
    width: 28%;
    padding: 50px 0px;
    text-align: left;
}

.second-subsection .menu-right {
    width: 72%;
    text-align: left;
    padding: 50px 0px;
}

.book {
    width: 130px;
    text-align: left;
}

.second-subsection .text {
    width: 100%;
    padding-bottom: 20px;
    text-align: left;
}

.line {
    border: 1px solid #33475b;
    width: 300px;
    display: inline-block;
    margin-left: 40px;
}

/*third subsection*/
.third-subsection {
    margin-top: 40px;
}

.third-subsection .menu-left, .third-subsection .menu-central, .third-subsection .menu-right{
    width: 30%;
    background-color: white;
    padding: 20px 25px 20px 25px;
    border-radius: 5px;
}

.third-subsection .menu-central {
    margin: 0px 44px;
}

.third-subsection .illustration {
    padding-top: 0%;
    padding-bottom: 20px;
    height: 100px;
}

.third-subsection h3 {
    text-align: center;
    width: 100%;
}

.third-subsection .text {
    text-align: center;
    width: 100%;
    padding-bottom: 40px;
}

.third-subsection .line {
    width: 100%;
    margin: auto;
}

.third-subsection h4 {
    text-align: center;
    width: 100%;
    padding: 25px 0px
}

.third-subsection .list li {
    padding: 0%;
    display: block;
    text-align: left;
}

.third-subsection #button-learn {
    margin: 40px 40px 0px 40px
}


/*fourth subsection*/
.fourth-subsection {
    margin-top: 40px;
    background-image:linear-gradient(to );
    text-align: center;
}

#grad1 {
    background-image: linear-gradient(to right,#01a5bb, #00baa8);
}

.fourth-subsection h2 , .fourth-subsection .text {
    color: white;
    padding: 40px 0px 10px 0px;
}

.fourth-subsection .text {
    padding: 15px 0px 30px 0px ;
    width: 100%;
}

.grid-top {
    margin-top: 25px;
    border-bottom: 1px solid white;
}


.cell-one, .cell-two, .cell-three, .cell-four  {
    width: 25%;
}

.cell-one, .cell-two, .cell-three {
    border-right: 1px solid white;
}

.icon img {
    padding: 20px;
    height: 65px;
}

.grid-text {
    color: white;
}

.number {
    font-size: 30px;
    font-weight: 900;
}

.più {
    font-size: 20px;
    vertical-align: middle;
}

.cell-text {
    font-size: 10px;
    padding: 10px 0px 20px 0px;
}

.grid-bottom {
    padding-bottom: 90px;
}

/*fifth-subsection*/
.fifth-subsection {
    background-color: white;
    padding-top: 28px;
    color: #33475b;
}
.fifth-subsection .menu-left {
    width: 28%;
}

.fifth-subsection .text {
    width: 75%;
}

.fifth-subsection .menu-right {
    width: 72%;
    text-align: center;
}
.fifth-subsection .list-loghi {
    list-style-type: none;
    padding: 0%;
}

.list-loghi li {
    display: inline-block;
}

.list-loghi img{
    width: 115px;
    vertical-align: middle;
    padding: 10px;
}

/*sixth-subsection*/
.sixth-subsection {
    background-color: white;
}

.sixth-subsection .menu-left {
    width: 34%;
    padding-top: 40px;
}

.sixth-subsection .menu-right {
    width: 66%;
}

.sixth-subsection #button {
    display: inline-block;
    padding: 20px 38px
}

.sixth-subsection .text, .subtext {
    width: 100%;
    padding: 30px 0px;
}

.sixth-subsection img {
    width: 230px;
}
/*END MAIN*/

/*FOOTER*/

.final-section {
    background-color: #324a5b;
}

.final-section .col {
    color: white;
}

/*first-line*/
.column-one, .column-two, .column-three, .column-four {
    width: 25%;
}

.final-section li {
    color: white;
    font-size: 10px;
    padding: 10px 0px;
    display: block;
}
.final-section #button {
    font-size: 9px;
    color: #324a5b;
    background-color: white;
    border: 1px solid white;
}

.list .first {
    font-weight: 900;
    font-size: 12px;
    padding-top: 20px
    
}

.social li {
    margin-top: 10px;
    display: inline-block;
    padding-right: 12px;
    font-size: 12px;
}
