* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
}

img {
    width: 100%;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

#button {
    font-size: 11px;
    color: white;
    border: 1px solid #fe775a;
    background-color: #fe775a;
    padding: 7px 8px;
    border-radius: 5px
}

.nav-top {
    background-color: #f4f9fd;
    border-bottom: 1px solid #4a606e;
}

.wrap{
    width: 70%;
    margin: auto;
}

.col {
    float: left;
}

.menu-left {
    width: 50%;
    text-align: left;
}

.menu-right {
    width: 50%;
    text-align: right;
}

.menu {
    list-style-type: none;
    padding: 20px 0px;
}

.menu li {
    display: inline-block;
}

.menu li a {
    font-size: 13px;
    text-decoration: none;
    color: #33475b;
    margin-right: 10px;
}

.fa-search {
    color: #12aac1;
}

.menu .login {
    border: 1px solid #fe775a;
    background-color: white;
    color: #fe775a;
    padding: 7px 8px;
    border-radius: 5px;
    font-size: 11px;
}

.logo img {
    width: 80px;
    padding: 20px 0px;
}
